---
import { getCollection } from 'astro:content';
import BaseHead from '../../components/BaseHead.astro';
import Footer from '../../components/Footer.astro';
import Header from '../../components/Header.astro';
import ThemeController from '../../components/ThemeController.astro';
import { ClientRouter } from 'astro:transitions';

const posts = await getCollection('blog');
const tags = [...new Set(posts.flatMap((post) => post.data.tags))];
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title="Tags" description="Browse posts by tag." />
    <ClientRouter />
  </head>
  <body>
    <Header />
    <main>
      <h2 class="text-accentColor w500:text-lg my-0 text-2xl font-medium tracking-wide">Tags</h2>
      <div class="mt-4 flex flex-wrap gap-5">
        {
          tags.map((tag) => (
            <a
              class="w500:text-sm text-lightModeText dark:text-darkModeText inline-block text-lg underline"
              href={`/tags/${tag}`}
            >
              #{tag}
            </a>
          ))
        }
      </div>
    </main>
    <Footer />
    <ThemeController />
  </body>
</html>
