---
import { SITE_TITLE } from '../consts';
import ThemeSwitcher from './ThemeSwitcher.astro';
---

<nav class="w500:h-110 w500:flex-col w500:py-4 flex h-90 items-center justify-between">
  <a
    class="text-lightModeText hover:text-accentColor dark:text-darkModeText transition-colors"
    href="/"
  >
    <h2 class="w500:text-2xl my-0 text-3xl font-medium">
      {SITE_TITLE}
    </h2>
  </a>
  <div class="w500:text-base flex items-center text-lg">
    <a
      class="text-lightModeText hover:text-accentColor dark:text-darkModeText mr-10 transition-colors"
      href="/tags"
    >
      Tags
    </a>
    <a
      class="text-lightModeText hover:text-accentColor dark:text-darkModeText mr-10 transition-colors"
      href="/about"
    >
      About
    </a>
    <ThemeSwitcher />
  </div>
</nav>
