---
import type { Page } from "astro";
import type { CollectionEntry } from "astro:content";

type Props = {
  page: Page<CollectionEntry<"blog">>;
};

const { page } = Astro.props;
---

{
  page.lastPage > 1 && (
    <nav
      class="mt-10 flex justify-center gap-6 text-sm"
      role="navigation"
      aria-label="Pagination Navigation"
    >
      <a
        href={page.url.prev ?? "#"}
        aria-label="Goto Previous Page"
        class:list={[
          "underline underline-offset-4",
          { "pointer-events-none no-underline opacity-50": !page.url.prev },
        ]}
      >
        Prev
      </a>
      {page.currentPage} / {page.lastPage}
      <a
        href={page.url.next ?? "#"}
        aria-label="Goto Next Page"
        class:list={[
          "underline underline-offset-4",
          { "pointer-events-none no-underline opacity-50": !page.url.next },
        ]}
      >
        Next
      </a>
    </nav>
  )
}
