---
type Props = {
  tag: string;
  tagName: string;
  size?: "sm" | "lg";
};

const { tag, tagName, size = "lg" } = Astro.props;
---

<li>
  <a
    href={`/tags/${tag}/`}
    transition:name={tag}
    class:list={[
      "underline underline-offset-4",
      { "text-sm": size === "sm" },
      { "text-lg max-[500px]:text-sm": size === "lg" },
    ]}
  >
    #{tagName}
  </a>
</li>
