---
import type { MarkdownLayoutProps } from "astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Layout from "./Layout.astro";
import { SITE } from "@/config";

type Props = MarkdownLayoutProps<{ title: string }>;

const { frontmatter } = Astro.props;
---

<Layout title={`${frontmatter.title} | ${SITE.title}`}>
  <Header />
  <main
    id="main-content"
    class="min-h-[calc(100dvh-90px-70px)] app-layout py-10 max-[500px]:min-h-[calc(100dvh-110px-70px)]"
  >
    <section id="about" class="app-prose max-w-app">
      <h2
        class="text-2xl font-medium tracking-wide text-accent max-[500px]:text-lg"
      >
        {frontmatter.title}
      </h2>
      <slot />
    </section>
  </main>
  <Footer />
</Layout>
